<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head(title)">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title th:text="${title}"></title>
        <link rel="shortcut icon" th:href="@{~/img/favcion.ico}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
        <link rel="stylesheet" th:href="@{~/css/style.css}"/>

        <!-- Delete the following lines when deploy -->
        <link rel="stylesheet" href="../static/css/fontawesome.min.css"/>
    </th:block>
</head>
<body>
<th:block th:fragment="LeftBar(page)">
    <aside class="left-bar" id="leftBar">
        <div class="title">
            <p>欢迎使用翻转课堂！</p>
        </div>
        <nav class="nav">
            <div class="item active">
                <a th:href="@{/}"><i class="fa fa-fw fa-paper-plane"></i>&nbsp;导航</a>
                <i class="line"></i>
            </div>
            <ul class="nav-item" id="navItem">
                <li><a th:href="@{/}" th:classappend="(${page == 'home' ? 'active' : ''})"><i class="fa fa-fw fa-list-ul"></i>&nbsp;首页</a></li>
                <li><a th:href="@{/course}" th:classappend="(${page == 'course' ? 'active' : ''})"><i class="fa fa-fw fa-list-ul"></i>&nbsp;课程列表</a></li>
                <li><a th:href="@{/login}" th:classappend="(${page == 'login' ? 'active' : ''})"><i class="fa fa-fw fa-user"></i>&nbsp;登录</a></li>
            </ul>
            <div class="item comment">
                <a target="_blank" href="mailto:i@xlui.me">
                    <i class="fa fa-fw fa-envelope"></i>&nbsp;E-mail 留言
                </a>
            </div>
        </nav>
    </aside>
    <script>
        var modal = document.getElementById('login');
        window.onclick = function (ev) {
            if (ev.target === modal) {
            }
            modal.style.display = 'none';
        };
    </script>
</th:block>

<th:block th:fragment="footer">
    <footer class="footer">
        <div class="copyright">
            Copyright <i class="fa fa-fw fa-copyright"></i> 2018
            Build by <a href="https://github.com/spring-projects/spring-boot" target="_blank">Spring Boot</a>
            and <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a>
            and <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">Font-Awesome</a>.
            Fork me on <a href="https://github.com/xlui/FlippedClassroom" target="_blank"><i
                class="fa fa-fw fa-github"></i>GitHub</a>!
        </div>
    </footer>

    <div id="fixedBar">
        <svg class="Zi Zi--BackToTop" title="回到顶部" fill="currentColor" viewBox="0 0 24 24" width="24"
             height="24">
            <path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path>
        </svg>
    </div>

    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/main.js}"></script>
</th:block>
</body>
</html>