<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base::head('Flipped Classroom')"/>
    <!-- Delete the following lines when deploy -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/fontawesome.min.css"/>
</head>
<body>
<th:block th:include="base::masthead"/>
<div class="container">
    <h1>测试！</h1>
    <p>
        API 说明：<a href="https://fc.xd.style/swagger-ui.html">https://fc.xd.style/swagger-ui.html</a>
    </p>
</div>
<th:block th:include="base::footer"/>
</body>
</html>