html {
    font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
}

body {
    background-color: #eeeeee;
    font-size: 14px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    body {
        padding-top: 56px;
    }
}

.fc-masthead {
    background-color: white;
}

.fc-nav .active {
    color: #66ccff;
}

.fc-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #e3e3e3;
}

.fc-nav-item:hover {
    display: block;
    text-decoration: underline;
}

.footer {
    margin-top: 32%;
    margin-bottom: 12px;
    text-align: center;
}